<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
</head>
<body>

<h1>Lista de Ninjas</h1>
<table>
    <thead>
    <tr>
        <th>Imagem</th>
        <th>Id</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Ranking</th>
        <th>Missoes</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ninja : ${ninjas}">
        <td><img th:src="${ninja.imgUrl}"></td>
        <td th:text="${ninja.id}"></td>
        <td th:text="${ninja.nome}"></td>
        <td th:text="${ninja.email}"></td>
        <td th:text="${ninja.ranking}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>